@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.inverted {
	filter: invert(100%);
}

.shadow-gradient {
	box-shadow: 4px 4px rgb(255 104 18 / 64%), 8px 8px rgb(255 205 6 / 63%),
		12px 12px rgb(182 232 31 / 44%);
}

.bg-main-gradient {
	background: linear-gradient(
		90deg,
		rgba(28, 37, 91, 1) 0%,
		rgba(102, 24, 89, 1) 100%
	);
}
